:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--Violet);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-content: center;
    padding: 1rem 0;
}

header,
main,
footer {
    max-width: 375px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    margin-bottom: 2rem;
    text-align: left;
}

.header-logo {
    max-width: 125px;
    margin-bottom: 2rem;

}

.illustration-mockups {
    width: 100%;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.52rem;
    margin-bottom: 1.3rem;
}

p {
    max-width: 320px;
    line-height: 1.6rem;
    margin: 0 auto;
    margin-bottom: 1.6rem;
}

.btn-register {
    min-width: 70%;
    color: var(--Violet);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03rem;
    padding: 0.7rem;
    border: none;
    border-radius: 25px;
    margin-bottom: 4rem;
    box-shadow: 2px 3px 10px 1px hsla(257, 91%, 5%, 0.56);
}

.btn-register:hover,
.btn-register:focus {
    background-color: var(--Soft-Magenta);
    color: white;
    cursor: pointer;
}

i {
    height: 35px;
    width: 35px;
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.2rem;
}

i:before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

i:hover,
i:focus {
    color: hsl(321, 90%, 60%);
    border-color: hsl(321, 90%, 60%);
    cursor: pointer;
}

@media (min-width: 850px) {
    body {
        background-size: cover;
    }
}

@media (min-width: 1440px) {
    body {
        background-image: url("../images/bg-desktop.svg");
        background-size: contain;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    header,
    main,
    footer {
        max-width: 100%;
    }

    header {
        grid-column: 1/4;
    }

    .header-logo {
        max-width: 280px;
    }

    main {
        grid-column: 4/-1;
        place-self: center;
        text-align: left;
    }

    h1 {
        max-width: 450px;
        font-size: 2.3rem;
        line-height: 1.2;
    }

    p {
        max-width: 590px;
        text-align: left;
        font-size: 1.1rem;
        margin-left: 0;
    }

    .btn-register {
        min-width: 39%;
        font-size: 1rem;
    }

    footer {
        grid-column: -2/-1;
    }

}